<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Вхід адміністратора</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hero.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile-menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash-messages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    

</head>
<body>
    <h2>Вхід до адмін-панелі</h2>
    <form method="post">
        <label>Логін:</label><br>
        <input type="text" name="username" required><br>
        <label>Пароль:</label><br>
        <input type="password" name="password" required><br><br>
        <button type="submit">Увійти</button>
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <p style="color: red;">{{ messages[0] }}</p>
      {% endif %}
    {% endwith %}
</body>
</html>
