<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Вхід користувача</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h2>Вхід в особистий кабінет</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash">{{ messages[0] }}</div>
      {% endif %}
    {% endwith %}
    <form method="post">
        <label>Email:</label><br>
        <input type="email" name="email" required><br>
        <label>Пароль:</label><br>
        <input type="password" name="password" required><br><br>
        <button type="submit">Увійти</button>
    </form>
</body>
</html>
